aside {
    margin: 1.5em 0 0 0;
    position: fixed;
}

#root {
    background: var(--bg);
    padding: 2em;
    border-radius: 1.5em;
    width: 100%;
    margin-left: 12em;
}

.title {
    text-align: center;
}

.blog {
    display: flex;
    justify-content: space-between;
}

p {
    img {
        margin-right: 1em;
        border-radius: .5em;
    }
}

.table {
    display: flex;
    & > * {
        flex: 1;
    }
}

ul.nav, ul.column {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.nav a {
    text-decoration: underline;
}

ul.column {
    li {
        display: inline-block;
        margin-right: 1em;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 1.2em;
    }

    body {
        flex-direction: column-reverse;
        margin-bottom: 6em;
        padding: .5em;
        
        aside {
            border-radius: .5em;
            padding: 0.5em;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            text-align: center;
            margin-right: 0;

            h1 {
                margin-bottom: 0;
            }
            .social {
                display: none;
            }
        }

        #root {
            margin: 0;
            padding: 1.5em;
        }

        ul.nav {
            li {
                display: inline-block;
            }

            li:not(:last-child) {
                margin-right: 1.3em;
            }
        }

    }
}