aside {
    margin: 1.5em 0 0 0;
    position: fixed;
}

#root {
    background: var(--bg);
    padding: 1.5em;
    border-radius: 1.5em;
    margin-left: 12em;
	width: calc(100% - 12em);
}

.title {
    text-align: center;
}

ul.nav, ul.column {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.column {
    li {
        display: inline-block;
        margin-right: 1em;
    }
}

.blog {
    display: flex;
    justify-content: space-between;
}

.hr {
    position: relative;
    display: block;
    text-align: center;
    margin: 1.5em 0;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: .05em;
        left: 0;
        top: 50%;
        background-color: white;
        opacity: .2;
    }
}

section {
    margin-top: 2em;
}

@media (min-width: 1000px) {
    .table {
        display: flex;
        & > * {
            flex: 1;
        }
        & > *:not(:last-child) {
            margin-right: 2em;
        }
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 1.1em;
    }

    .table {
        & > *:not(:last-child) {
            margin-bottom: 2em;
        }
    }

    body {
        flex-direction: column-reverse;
        margin-bottom: 6em;
        padding: .5em;
    }

    aside {
        border-radius: .5em;
        padding: 0.5em;
        bottom: 0;
        left: 0;
        width: 100%;

        text-align: center;
        background-color: black;

        h1 {
            margin-bottom: 0;
        }
        .social {
            display: none;
        }
    }

    #root {
        margin: 0;
        padding: 1.5em;
		width: 100%;
    }

    ul.nav {
        li {
            display: inline-block;
        }

        li:not(:last-child) {
            margin-right: 1.3em;
        }
    }
}
