aside {
    margin: 2em 1.5em 0 0;
}

#root {
    background: var(--bg);
    padding: 1.5em 2em;
    border-radius: 1.5em;
    margin: 1em;
}

p {
    img {
        margin-right: 1em;
        border-radius: .5em;
    }
}

.table {
    display: flex;
    & > * {
        flex: 1;
    }
}

ul.nav, ul.column {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.column {
    li {
        display: inline-block;
        margin-right: 1em;
    }
}