<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon" href="/pix/logo.png" type="image/x-icon">
    <title>Get to know, Shalev Haimovitz</title>
</head>
<body>
    <aside>
        <h1><span class="highlight">da</span>slastic<small>.xyz</small></h1>
        <ul class="nav" role="navigation">
            <li><a href="/">about</a></li>
            <li><a href="/blog/">blog</a></li>
            <li><a href="/projects/">projects</a></li>
            <li><a href="/contact/">contact</a></li>
        </ul>
        <div class="social">
            <hr>
            <ul class="column">
                <li>
                    <a href="https://github.com/daslastic/" target="_blank">
                        <img class="icon" src="/pix/github.svg" width="33" height="33">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCy6reZ-gpG13T4ZTpQBsF7Q" target="_blank">
                        <img class="icon" src="/pix/youtube.svg" width="33" height="33">
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <main id="root">
        {% block content %} {% endblock %}
    </main>
</body>
</html>