<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">

    <title>Get to know, Shalev Haimovitz</title>
</head>
<body>
    <aside>
        <h1><span class="highlight">da</span>slastic<small>.xyz</small></h1>
        <ul class="nav" role="navigation">
            <li><a href="index.html">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="tools.html">Tools</a></li>
        </ul>
        <div class="social">
            
        </div>
    </aside>

    <div id="root">
        {% block content %} {% endblock %}
    </div>
</body>
</html>