{% extends "base.html" %}

{% block content %}
<h1 class="title">About Me</h1>
<hr>

<p>
    <img src="./pix/logo.png" align="left" style="width: 5em; margin: 0 1em 0 0;" alt="">
    Hello, I'm Shalev Haimovitz, a sixteen-year-old developer who has two years of experience in web, game, and software
    development. This site will be my way of expressing my thoughts and showing my work.
</p>

<section>
    <div class="table">
        <div>
            <h2>Recent Activity</h2>
            <ul>
                <li>
                    <a href="/projects/slooshysearch">slooshysearch: a custom search wrapper</a>
                </li>
                <li>
                    <a href="/projects/earthpixel">earthpixel</a>
                </li>
            </ul>
        </div>

        <div>
            <h2>Currently Working On</h2>
            <ul>
                <li>
                    <a href="/projects/spaceshooter-rs/">spaceshooter-rs</a>
                </li>
                <li>
                    <a href="https://github.com/daslastic/zchat-filter-rs" target="_blank">zchat-filter-rs</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <h2>Donate</h2>
    <span>...coming</span>
</section>

{% endblock content %}
