{% extends "base.html" %}

{% block content %}
<h1 class="title">About me</h1>
<hr>

<p>
    <img src="./pix/logo.png" align="left" alt="">
    Hello, I'm Shalev Haimovitz, a sixteen-year-old developer who has two years of experience in web, game, and software
    development. This site will be my way of expressing my thoughts and showing my work.
</p>

<hr>

<h2>Activity</h2>
<section>
    <div class="table">
        <div>
            <h3>Recent</h3>
            <ul>
                <li>
                    <a href="#">slooshysearch: a custom search engine wrapper</a>
                </li>
                <li>
                    <a href="">earthpixel</a>
                </li>
            </ul>
        </div>

        <div>
            <h3>Working On</h3>
            <ul>
                <li>
                    <a href="#">spaceshooter-rs</a>
                </li>
                <li>
                    <a href="#">zchat-filter-rs</a>
                </li>
            </ul>
        </div>
    </div>

    <h2>Donate</h2>
    <span>Will soon be set up</span>
</section>
{% endblock content %}